# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/target/
backend/.env
backend/data/*.mv.db
backend/data/*.trace.db

# Logs
*.log

# IDEs & system files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
